* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(../images/windows11-alt1-wallpaper.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Segoe UI", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: grid;
    grid-template-columns: repeat(16, 100px);
    grid-template-rows: auto;
    gap: 5px;
    justify-items: center;
    align-items:flex-start;
    order: 1;   
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 10px 0px 0px 0px;
}

img {
    width: 48px;
    height: 48px;
    margin-bottom: 5px;
}

p {
    font-size: 14px;
    margin: 5px 0px 20px 0px;
    color: white;
    text-shadow: 2px 2px 4px black;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;
}

footer img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

/* Divisões principais da barra */
.barra-esquerda,
.barra-centro,
.barra-direita {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;
}

/* Centraliza os atalhos no meio */
.barra-centro {
  justify-content: center;
}

/* Alinha ícones à direita (Wi-Fi e relógio) */
.barra-direita {
  justify-content: flex-end;
}

.barra-direita img{
  width: 20px;
  height: 20px;
}

#relogio {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-align: right;
  color: black;
}

.icon:hover img,
footer img:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
  transition: 0.2s ease;
}
